<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
    <style>
         body {
             display: flex;
            justify-content: center;
            height:100vh;
         }
         .card{
             margin-top:10%;

         }
    
    </style>
</head>
<body>
<div class="col-md-4">
        <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card title">
                        <i class="fas fa-lock"></i>
                        Connexion a l'administration
                        </h4>
                    </div>
                    <div class="card-body">
                         {% if hasError %}
                             <div class="alert alert-warning">
                                  <p>les informations que vous avez fournies ne sont pas bonnes.</p>
                             </div>
                         {% endif %}
                        <form method="post">
                            <div class="form-group">
                                <label for="_username">Email</label>
                                <input type="text" class="form-control"  name="_username"  
                                value="{{username}}">   
                            </div>

                            <div class="form-group">
                                <label for="_password">Password</label>
                                <input type="password" class="form-control" name="_password"   >   
                            </div>
                              <div class="form-group">

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-lock-open"></i>
                                    Connexion !
                                </button>
                         
                                <a href="{{path('home')}}" class="btn btn-link">
                                        <i class="fa fa-arrow-circle-left"></i>
                                        retour au site !
                                </a>
                                </div>
                        </form>
                    </div>
        
        </div>
</div>



           <script src="https://kit.fontawesome.com/2ed540b38f.js" crossorigin="anonymous"></script>
</body>
</html>