{% extends "base.html.twig" %}

{% block title %}modifier mot de passe{% endblock %}

{% block body %}

  <div class="container">
      <h1>modification de mot de passe</h1>
           
        {{ form_start(form) }}
        {{ form_widget(form) }}
             <button type="submit" class="btn btn-primary">modifier le mot de passe</button>
        {{ form_end(form) }}

  </div>



{% endblock %}
