<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="/css/bootstrap.min.css">
         <link rel="stylesheet" href="/css/app.css">
                <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
  
         {% include "admin/partials/header.html.twig" %}


      <div class=" mt-5">
           {% block body %}{% endblock %}
      </div>

         {% include "admin/partials/footer.html.twig" %}
         
          <script  src="/js/jquery.js"></script>
           <script  src="/js/popper.js"></script>
         <script  src="/js/bootstrap.min.js"></script>
         <script src="https://kit.fontawesome.com/2ed540b38f.js" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>

