body {
    background-color: lightgray;
}

.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

}

.avatar-medium{
    max-width: 64px;
    max-height: 64px;
  

}


.avatar-mini{
    max-width: 22px;
    max-height: 22px;
    border-radius: 50%;

}

