<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
  
         {% include "partials/header.html.twig" %}


      <div class="container mt-5">
           {% block body %}{% endblock %}
      </div>

         {% include "partials/footer.html.twig" %}
         
          <script  src="/js/jquery.js"></script>
           <script  src="/js/popper.js"></script>
         <script  src="/js/bootstrap.min.js"></script>
         
        {% block javascripts %}{% endblock %}
    </body>
</html>

